<div id="content">
  <div class="container">
    <!-- main-banner-small begin -->
    <div class="main-banner-small">
      <div class="inner">
        <h1><%= t 'title' %></h1>
      </div>
    </div>
    <!-- main-banner-small end -->
    <div class="section">
      <!-- box begin -->
      <div class="box">
        <div class="border-top">
          <div class="border-right">
            <div class="border-bot">
              <div class="border-left">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          <h2>关于我们</h2>
                          我们是具有创业激情的团队,有活力的团队,为我们的客户提供最佳的产品,最佳的解决方案.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- box end -->
    </div>
    <div class="section">
      <!-- box begin -->
      <div class="box">
        <div class="border-top">
          <div class="border-right">
            <div class="border-bot">
              <div class="border-left">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="right-bot-corner">
                      <div class="left-bot-corner">
                        <div class="inner">
                          <h2><%= t 'history' %></h2>
                          <img class="img-indent alt" alt="" src="assets/image_122x122.gif" />
                          <!-- <p>Ok, we all have started with something, right? Whatever your story is, it is better that you share the most significant parts of this story with the audience. Plus you may want to put some timeline-style milestones. Like these ones:</p> -->
                          <p><strong class="txt1">2012-3-20</strong> - 先知软件有限公司成立.</p>
                          <img class="img-indent fright" alt="" src="assets/image_122x122.gif" />
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- box end -->
    </div>
    <!-- box begin -->
    <div class="box">
      <div class="border-top">
        <div class="border-right">
          <div class="border-bot">
            <div class="border-left">
              <div class="left-top-corner">
                <div class="right-top-corner">
                  <div class="right-bot-corner">
                    <div class="left-bot-corner">
                      <div class="inner">
                        <h2>Our Team</h2>
                        <ul class="list2">
                          <li>
                            <img alt="" src="assets/image_87x87.gif" />
                            <h4><strong>John Doe</strong>
                              President and a big boss</h4>
                            The presidents always come first, but we’re sure you knew that. So here it is - the info about the biggest man on your company.
                          </li>
                          <li>
                            <img alt="" src="assets/image_87x87.gif" />
                            <h4><strong>Sam Cohen</strong>
                              Vice president</h4>
                            Also some kind of info about how good he is at whatever he does - that’s what vice presidents are for.
                          </li>
                          <li class="last">
                            <img alt="" src="assets/image_87x87.gif" />
                            <h4><strong>Jane Doe</strong>
                              Personal assistant</h4>
                            This nice lady would love if you say a couple of good words about her on this page. Besides, it’s not a big deal for you - than why don’t you be nice and just put the info.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box end -->
  </div>
</div>
<!-- extra-content -->
<div id="extra-content">
  <div class="container">
    <!-- box begin -->
    <div class="box">
      <div class="border-top">
        <div class="border-right">
          <div class="border-bot">
            <div class="border-left">
              <div class="left-top-corner">
                <div class="right-top-corner">
                  <div class="right-bot-corner">
                    <div class="left-bot-corner">
                      <!--
                      <div class="inner">
                        <h2>Photos Gallery</h2>
                        <div class="carousel">
                          <ul>
                            <li class="prev"><img alt="" src="assets/prev.gif" /></li>
                            <li><img alt="" src="assets/image_261x179.gif" /></li>
                            <li><img alt="" src="assets/image_261x179.gif" /></li>
                            <li><img alt="" src="assets/image_261x179.gif" /></li>
                            <li class="next"><img alt="" src="assets/next.gif" /></li>
                          </ul>
                        </div>
                      </div>
                      -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box end -->
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('body').attr("id",'page2');
    $('#about').addClass('current');
  })
</script>