<div id="content">
  <div class="container">
    <!-- main-banner-small begin -->
    <div class="main-banner-small">
      <div class="inner">
        <h1><%= t 'title' %></h1>
      </div>
    </div>
    <!-- main-banner-small end -->
    <div class="wrapper">
      <div class="col-1 maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2>求贤纳才</h2>
                            <p>我们急需以下人才,如果你感兴趣,请将简历发送到 support@sqopen.com.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="col-2 maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="border-top maxheight">
            <div class="border-right maxheight">
              <div class="border-bot maxheight">
                <div class="border-left maxheight">
                  <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                          <div class="inner">
                            <h2>职位列表</h2>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nunc erat, tempor a dictum in, viverra vitae nunc. Nulla pretium interdum nisl, ac rhoncus felis posuere mattis. Donec semper porttitor viverra. Praesent et eros libero, non mollis sapien. Proin est dui, luctus et varius eu, interdum ut eros. Aenean sit amet imperdiet turpis. Cras nibh diam, porttitor sed molestie et, laoreet eleifend arcu. Vivamus vehicula, quam eget aliquam cursus, lorem turpis volutpat elit, ac feugiat arcu metus a lacus. Quisque feugiat elit a magna lacinia non euismod metus feugiat. Aenean lacus metus, dignissim non ultricies eu, posuere a tellus. Curabitur aliquam felis ac sem cursus ut placerat mi consectetur. Ut non lacus magna. Sed velit nunc, posuere quis porttitor euismod, tempus vitae metus. Cras eu ullamcorper ante. Proin felis mauris, mattis sit amet convallis id, malesuada nec dui. Duis elit nulla, consequat vitae cursus et, viverra sit amet ante. Maecenas bibendum hendrerit nulla, eget rutrum arcu luctus in. Mauris augue eros, ornare ac condimentum ut, tempus et nunc.</p> -->
                            <dl class="list4">
                              <dt>Ruby On Rails 攻城狮</dt>
                              <dd>技能要求: MAC|UBUNTU|UNIX + GIT + Ruby + Rails + Mysql + Nosql(MongoDB,redis) + Nginx + Unicorn + ... .</dd>
                              <dt>前端攻城狮</dt>
                              <dd>技能要求:HTML(包括HTML5) + CSS(包括CSS3) + Javascript + ... . </dd>
                              <dt>IOS攻城狮</dt>
                              <dd>技能要求:Objective-c + PhoneGAP(html5 + css3 + javascript).</dd>
                              <dt>Android攻城狮</dt>
                              <dd>技能要求:java + PhoneGAP(html5 + css3 + javascript).</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('body').attr("id",'page5');
    $('#jobs').addClass('current');
  })
</script>