<div id="content">
  <div class="container">
    <!-- main-banner-small begin -->
    <div class="main-banner-small">
      <div class="inner">
        <h1><%= t 'title' %></h1>
      </div>
    </div>
    <!-- main-banner-small end -->
    <!-- box begin -->
    <div class="box">
      <div class="border-top">
        <div class="border-right">
          <div class="border-bot">
            <div class="border-left">
              <div class="left-top-corner">
                <div class="right-top-corner">
                  <div class="right-bot-corner">
                    <div class="left-bot-corner">
                      <div class="inner">
                        <h2><%= t 'solutions' %></h2>
                        <!-- <p>short description.</p> -->
                        <ul class="list2 solutions">
                          <li>
                            <img alt="企业网站" src="/assets/solutions/qiye.jpg" />
                            <h4><strong>企业网站建设.</strong></h4>
                            我们利用最新的Ruby On Rails技术为您打造企业网站,并且快速交付上线.
                          </li>
                          <li>
                            <img alt="企业管理" src="/assets/solutions/manage.jpg" />
                            <h4><strong>企业管理软件.</strong></h4>
                            同样利用Ruby On Rails技术快速实现企业管理软件,例如内部的OA系统,ERP,人力资源系统等等,部署在内部或者云上,即SAAS,目前已有多家成功案例.
                          </li>
                          <li>
                            <img alt="互联网" src="/assets/solutions/internet.jpg" />
                            <h4><strong>互联网网站建设.</strong></h4>
                            互联网为时下最流行,最潮一个词,社交,视频,旅游等等应用吸引着大量用户,想要你的互联网网站吗,拿起电话吧,让我们给你解决O_o.
                          </li>
                          <li>
                            <img alt="IOS" src="/assets/solutions/ios.jpg" />
                            <h4><strong>IOS应用软件开发.</strong></h4>
                            利用Objective-c或者HTML5 + CSS3 + Javascript为您实现您想要的Iphone或者Ipad应用.
                          </li>
                          <li>
                            <img alt="" src="/assets/solutions/android.jpg" />
                            <h4><strong>Android应用软件开发.</strong></h4>
                            利用Java或者HTML5 + CSS3 + Javascript为您实现您想要的Android手机或者Android平板应用.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box end -->
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('body').attr("id",'page4');
    $('#partners').addClass('current');
  })
</script>